#dia-user-roles-meta-box h2 {
  background-color: #00426a;
  color:#fff;
}

#dia-user-roles-meta-box .dia_product_mft_field,
#dia-user-roles-meta-box .dia_product_list_price_field,
#dia-user-roles-meta-box .dia_product_mft_part_number_field{
  width: 33%;
  display:inline-block;
}

#dia-user-roles-meta-box .dia_product_cost_1_field,
#dia-user-roles-meta-box .dia_product_cost_2_field,
#dia-user-roles-meta-box .dia_product_price_check_1_field,
#dia-user-roles-meta-box .dia_product_price_check_2_field {
  width:18%;
  display:inline-block;
}

#dia-user-roles-meta-box .dia_product_price_check_person_1_field,
#dia-user-roles-meta-box .dia_product_price_check_person_2_field,
#dia-user-roles-meta-box .dia_product_supplier_1_field,
#dia-user-roles-meta-box .dia_product_supplier_2_field{
  width:24%;
  display:inline-block;
}

#dia-user-roles-meta-box .dia_product_vendor_pn_1_field,
#dia-user-roles-meta-box .dia_product_vendor_pn_2_field {
  width:15%;
  display:inline-block;
}

#dia-user-roles-meta-box .dia_product_mft_field,
#dia-user-roles-meta-box .dia_product_supplier_1_field,
#dia-user-roles-meta-box .dia_product_supplier_2_field {
  clear:both;
}


#dia-user-roles-meta-box .ui-datepicker-header {
  background-color: #00426a !important;
  color:#fff !important;
  border:0 !important;
}
