.single-product .favimg_topleft { top: 11px; left: 24px; }
.single-product .favimg_topright { top: -17px; left:34%; }
.tax-product_cat .favimg_topleft {top: -31px; left: -16px; }
.woocommerce div.product .woocommerce-main-image { position:relative; }
.woocommerce ul.products li.product a { position:relative; }

@media (min-width: 320px) {
  #customer_fav_img { display:none; }
}

@media (min-width: 992px) {
  #customer_fav_img { display:block; }
  .single-product .favimg_bottomright { top: 248px; left:34%; }
  .single-product .favimg_bottomleft {top: 248px; }
  .tax-product_cat .favimg_topright {top: 4px; left: 119px; }
  .tax-product_cat .favimg_bottomleft {top: 130px; left: -25px; }
  .tax-product_cat .favimg_bottomright {top: 130px; left: 119px;   }
}

@media (min-width: 1200px) {
  .single-product .favimg_bottomright { top: 304px; }
  .single-product .favimg_bottomleft {top: 304px; }
  .tax-product_cat .favimg_topright {left: 164px; }
  .tax-product_cat .favimg_bottomleft {top: 165px; }
  .tax-product_cat .favimg_bottomright {top: 165px;  left: 164px;  }
}
