/* White sections in edit tabs */
.vfb-edit-section {
	margin-top: 10px;
	border: 1px solid $color-gray-lighter;
	background: $color-white;

	h3 {
		margin: 0;
		padding: 8px 0;
		font-size: 14px;
		line-height: 1.4;
	}

	.form-table th {
		font-weight: 400;
	}
}

	.vfb-edit-section-inside {
		margin: 6px 0 0;
		padding: 0 12px 12px;
	}

/* Confirmation tab */
.vfb-confirmation-type {
	display: none;

	&.active {
		display: table-row-group;
	}
}